:root {
  --color1: #1a222e;
  --color2: #000000;
  --color3: #2ffc0f;
  --color4: #1ce633; /*préférence*/
}
@font-face {
  font-family: "font-1";
  src: url(./assets/font/NotoSerif-Regular.ttf);
}

body {
  background: var(--color1);
  color: var(--color4);
  height: 100vh;
  width: 100%;
  font-family: "font-1", Arial, sans-serif;
}
nav {
  background: var(--color2);
  position: fixed;
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns: 50% 50%;
  top: -100px;
  transition: 0.4s;
  z-index: 5;
}
.nav-gauche {
  padding: 1rem 4rem;
}
nav li:hover {
  text-decoration: underline var(--color4) 1px;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
li {
  list-style: none;
  cursor: pointer;
}
.baniere-img {
  width: 100%;
}

h1 {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 4px;
  text-align: center;
}
.section {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0 40px 0;
  text-align: center;
  position: relative;
}
.titre-section {
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding: 0 0 30px 0;
  position: relative;
  width: auto;
  margin: 0 auto;
  text-decoration: underline var(--color4) 1px;
  text-underline-position: under;
}
/* -------------------------- ligne séparation des section -------------------------- */
.section::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--color4);
  bottom: 0;
  left: 0;
}
/* -------------------------- Section Présentation -------------------------- */
.presentation {
  display: flex;
  justify-content: space-around;
}
.presentation-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  font-size: 1.5rem;
}
/* -------------------------- Section Techno -------------------------- */
.techno {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin: 2rem 0;
}
.techno-icon-block {
  width: 50%;
  height: 5rem;
  text-align: start;
}
.techno-icon {
  height: 100%;
}
.techno-spe-titre {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.techno-spe {
  font-size: 2rem;
}

.projet {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 400px;
  margin: 0 0 30px 0;
}
.portfolio {
  margin: 10px 30px;
}
#img-portfolio-1 {
  background: url(./assets/img/maquette\ Gaming\ Campus.png) no-repeat center;
  background-size: contain;
  height: 100%;
}
#img-portfolio-2 {
  background: url(./assets/img/maquette\ Run.png) no-repeat center;
  background-size: contain;
}
#img-portfolio-3 {
  background: url(./assets/img/Capture\ Helium.PNG) no-repeat center;
  background-size: contain;
}
.icon-contact {
  margin: 20px 0;
}
.list-icon {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  font-size: 3rem;
}
a {
  color: var(--color4);
  text-decoration: none;
}
#malt-logo {
  background: url(./assets/img/Malt_logo.png) no-repeat center;
  background-size: contain;
  width: 70%;
  height: 70%;
}
.footer {
  padding: 40px 0 40px 0;
  text-align: center;
}
.footer-img {
  width: 100%;
}
