:root {
  --color1: #1a222e;
  --color2: #000000;
  --color3: #07af82;
  --color4: #57eb73; /*préférence*/
}
@font-face {
  font-family: "font-1";
  src: url(./assets/font/NotoSerif-Regular.ttf);
}
/* -------------------------- Style Commun Général -------------------------- */
body {
  background: var(--color1);
  color: var(--color3);
  height: 100vh;
  width: 100%;
  font-family: "font-1", Arial, sans-serif;
  text-align: center;
}
li {
  list-style: none;
  cursor: pointer;
}
h1 {
  display: none;
}
.section {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
  text-align: center;
  position: relative;
}
.titre-section {
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding: 0 0 4rem 0;
  position: relative;
  width: auto;
  margin: 0 auto;
  text-decoration: underline var(--color4) 1px;
  text-underline-position: under;
}
/* -------------------------- BANIERE -------------------------- */
.baniere-img {
  width: 100%;
}
/* -------------------------- NAVBAR -------------------------- */
.navbar {
  background: var(--color2);
  position: fixed;
  width: 100%;
  height: 6rem;
  display: grid;
  grid-template-columns: 50% 50%;
  top: -100px;
  transition: 0.4s;
  z-index: 5;
}
.nav-gauche {
  padding: 1rem 4rem;
}
.nav-list:hover {
  text-decoration: underline var(--color4) 1px;
}
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

/* -------------------------- ligne séparation des section -------------------------- */
.section::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: var(--color4);
  bottom: 0;
  left: 0;
}
/* -------------------------- Section Présentation -------------------------- */
.presentation {
  display: flex;
  justify-content: space-around;
}
.presentation-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  font-size: 1.5rem;
  line-height: 1.8rem;
}
/* -------------------------- Section Techno -------------------------- */
.techno {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
.techno-icon-block {
  width: 50%;
  height: 5rem;
  text-align: start;
}
.techno-icon {
  height: 100%;
}
.techno-spe-titre {
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.techno-spe {
  font-size: 2rem;
}
/* -------------------------- Section Projets -------------------------- */
.projet-box {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.carte-projet {
  width: 25%;
  border: 2px solid var(--color3);
  border-radius: 0 0 2rem 2rem;
  box-shadow: -1px 1px 12px 6px var(--color4);
}
.visuel-projet {
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color4);
}
.descriptif-projet {
  margin: 1rem;
}
/* -------------------------- Section Contact -------------------------- */
.icon-contact {
  margin: 20px 0;
}
.list-icon {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  font-size: 3rem;
}
a {
  color: var(--color4);
  text-decoration: none;
}
#malt-logo {
  background: url(./assets/img/Malt_logo.png) no-repeat center;
  background-size: contain;
  width: 70%;
  height: 70%;
}
.footer {
  padding: 40px 0 40px 0;
  text-align: center;
}
.footer-img {
  width: 100%;
}
