@charset "UTF-8";
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "font-1";
  src: url(./assets/font/NotoSerif-Regular.ttf);
}
/* -------------------------- Style Commun Général -------------------------- */
body {
  background: #1a222e;
  color: #07af82;
  min-height: 100vh;
  width: 100%;
  font-family: "font-1", Arial, sans-serif;
  text-align: center;
}

li {
  list-style: none;
  cursor: pointer;
}

h1 {
  display: none;
}

.section {
  width: 90%;
  margin: 0 auto;
  padding: 3rem 0 3rem 0;
  text-align: center;
  position: relative;
}

.titre-section {
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding: 0 0 4rem 0;
  position: relative;
  width: auto;
  margin: 0 auto;
  -webkit-text-decoration: underline #57eb73 1px;
          text-decoration: underline #57eb73 1px;
  text-underline-position: under;
}

/* -------------------------- BANIERE -------------------------- */
.baniere-img {
  width: 100%;
}

/* -------------------------- ligne séparation des section -------------------------- */
.section::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #57eb73;
  bottom: 0;
  left: 0;
}

/* -------------------------- Section Présentation -------------------------- */
.presentation {
  display: flex;
  justify-content: space-around;
}

.presentation-avatar {
  max-width: 50%;
}
.presentation-text {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alias {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #07af82;
  -webkit-text-stroke: 0.1px #57eb73;
}

.text {
  font-size: 1.5rem;
  line-height: 1.8rem;
}

/* -------------------------- Section Hard Skills -------------------------- */
.techno {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
.techno-icon {
  height: 100%;
  max-width: 90%;
}
.techno-icon-block {
  width: 50%;
  height: 5rem;
  text-align: start;
}
.techno-spe {
  font-size: 2rem;
}
.techno-spe-titre {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* -------------------------- Section Projets -------------------------- */
.projet-box {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.projet-text {
  font-size: 1.3rem;
}

.carte-projet {
  width: 25%;
  border: 2px solid #07af82;
  border-radius: 2rem;
  box-shadow: -1px 1px 12px 6px #57eb73;
  overflow: hidden;
}
.carte-titre {
  padding: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
  background: #57eb73;
  color: #1a222e;
  letter-spacing: 0.1rem;
}
.carte-visuel {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  border-bottom: 2px solid #57eb73;
  height: 33rem;
}
.carte-visuel-img {
  max-width: 100%;
  max-height: 100%;
}
.carte-descriptif {
  padding: 0 1rem;
  margin: 1rem;
  height: 4rem;
}
.carte-techno {
  width: 100%;
  border-top: 2px solid #57eb73;
  padding: 1rem;
}
.carte-techno-icon {
  max-width: 90%;
}

/* -------------------------- Section Contact -------------------------- */
.icon-contact {
  margin: 20px 0;
}

.list-icon {
  display: flex;
  justify-content: space-evenly;
  font-size: 3rem;
}

a {
  color: #57eb73;
  text-decoration: none;
}

#malt-logo {
  background: url(./assets/img/Malt_logo.png) no-repeat center;
  background-size: contain;
  width: 70%;
  height: 70%;
}

.footer-text {
  font-size: 1.5rem;
  padding-top: 1rem;
}
.footer-img {
  width: 100%;
}

/* --------------------------  Media Queries ------------------------------------- */
/* max 1100px */
@media screen and (max-width: 1100px) {
  .techno {
    justify-content: left;
  }
  .descriptif-projet {
    display: none;
  }
  .carte-visuel {
    height: 25rem;
  }
}
/*  min 750px-max 1100px   */
@media screen and (max-width: 1000px) {
  .presentation {
    flex-direction: column;
  }
  .presentation-avatar, .presentation-text {
    max-width: 100%;
  }
  .carte-projet {
    width: 40%;
  }
}
/* min 500px-max 800px */
@media screen and (max-width: 400px) {
  .avatar-img {
    max-width: 100%;
  }
  .projet-box {
    flex-direction: column;
  }
  .carte-projet {
    width: 80%;
    margin: 0 auto;
  }
  .techno {
    flex-direction: column;
  }
  .techno-spe-titre {
    width: 50%;
    margin: 0 auto;
  }
  .techno-icon {
    max-width: 100%;
  }
  .techno-icon-block {
    width: 100%;
  }
  .carte-visuel {
    height: 23rem;
  }
  .carte-visuel-img {
    padding: 0.5rem;
  }
  .carte-descriptif {
    height: auto;
  }
}/*# sourceMappingURL=index.css.map */