@use "reset";
@use "variables" as v;

.bloc-cv {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.profil {
  &-label {
    font-style: italic;
  }
  &-info {
    font-weight: bold;
  }
}

h3 {
  color: v.$color-font;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  font-size: 1.5rem;
  margin-top: 1rem;
}
a {
  text-decoration: none;
  color: white;
}
.left-bloc {
  background-color: v.$color-bg;
  color: whitesmoke;
  padding: 2rem;
  width: 25%;
  border-right: 4px solid v.$color-fontborder;
  font-size: 1.2rem;
  & ul {
    padding-left: 1rem;
  }
  &-list {
    &-item {
      list-style: none;
      margin-top: 0.5rem;
    }
  }
  &-picture-profil {
    margin: 0 auto;
    width: 13rem;
    height: 13rem;
    &-url {
      background: url(/assets/img/photo\ profil.png) no-repeat center top;
      background-size: cover;
      background-color: v.$color-bg2;
      width: 100%;
      height: 100%;
      border-radius: 20rem;
      margin: 0 auto;
      border: 1px solid v.$color-fontborder;
      box-shadow: 0px 0px 10px 5px v.$color-fontborder;
    }
  }
}
.right-bloc {
  width: 75%;
  position: relative;
  &-name {
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    padding: 2rem 0;
    background-color: v.$color-bg;
    color: v.$color-font;
    -webkit-text-stroke: 2px v.$color-fontborder;
    border-bottom: 4px solid v.$color-fontborder;
  }
  & h3 {
    color: black;
    padding: 1.5rem;
    font-size: xx-large;
  }
  &-content {
    padding: 2rem;
    font-size: 1.2rem;
    &-catchphrase {
      margin-bottom: 1.5rem;
    }
    &-list {
      width: 100%;
      padding: 0.5rem;
      &-date {
        font-weight: bold;
      }
      &-post {
        padding-left: 1rem;
        &-description {
          display: none;
        }
      }
      & span {
        font-weight: bold;
      }
    }
  }
  &-bouton {
    &-desktop {
      position: absolute;
      top: 3rem;
      right: 5rem;
      width: 10%;
      color: v.$color-bg;
      background-color: v.$color-fontborder;
      border: 2px solid v.$color-fontborder;
      border-radius: 5rem;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
  &-mobile {
    display: none;
  }
}

/*             MEDIA QUERIES                       */

@media screen and (max-width: 1000px) {
  li {
    list-style: none;
  }
  .left-bloc {
    width: 30%;
    &-picture-profil {
      width: 10rem;
      height: 10rem;
    }
  }
  .right-bloc {
    &-name {
      font-size: 2rem;
    }
    &-bouton {
      &-desktop {
        display: none;
      }
      &-mobile {
        display: block;
        position: absolute;
        top: 2.5rem;
        right: 1rem;
        width: 10%;
        color: v.$color-bg;
        background-color: v.$color-fontborder;
        border: 2px solid v.$color-fontborder;
        border-radius: 5rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .bloc-cv {
    flex-direction: column;
  }
  .left-bloc {
    width: 100%;
    border-right: none;
    margin-top: 6rem;
    &-profil {
      display: flex;
      border-bottom: 1px solid v.$color-fontborder;
    }
    &-picture-profil {
      width: 8rem;
      height: 8rem;
    }
    & h3,
    .profil-label,
    .profil-info {
      font-size: 1rem;
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
  .right-bloc {
    width: 100%;
    &-baniere {
      position: fixed;
      top: 0;
      width: 100%;
    }
    &-name {
      font-size: 1.5rem;
    }
  }
}
